
.NavBar{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.leftNav{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftNav img{
    height: 100%;
    width: 100%;
}

.rightNav{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.inputNav{
    display: flex;
}

.inputNav input{
    height: 30px;
    width: 290px;
    border: 1px solid white;
    background: none;
    outline: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: white;
    padding: 0 10px;
}

.inputNav button{
    height: 30px;
    width: 80px;   
    border: 1px solid white;
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: black;
    color: white;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

.inputNav button:hover{
    color: black;
    background-color: white;
}

